// colors
$primary-color: rgb(71, 147, 255);
$light-color: #000;
$base-color: #939CB0;

// background
$light-background: #fff;

// shadow
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, .25);

// border
$border-radius: 20px;